<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zzwtec.phone">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <application android:label="@string/app_name">
        <receiver
            android:name="com.keeplive.zzwdaemon.receice.WakeUpReceiver"
            android:process=":xiaoqiang">
            <intent-filter android:priority="2147483647">
                <action android:name="com.android.camera.NEW_PICTURE"/>
                <action android:name="android.hardware.action.NEW_PICTURE"/>

                <data android:mimeType="image/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.NET.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_UNMOUNTED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.Net.wifi.RSSI_CHANGED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_CHANGED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <action android:name="android.intent.action.SCREEN_OFF"/>
                <action android:name="android.intent.action.SCREEN_ON"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
                <action android:name="com.keeplive.zzwdaemon.CANCEL_JOB_ALARM_SUB"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.keeplive.zzwdaemon.receice.WakeUpReceiver$WakeUpAutoStartReceiver"
            android:process=":xiaoqiang">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <service android:name="com.keeplive.zzwdaemon.service.AbsWorkService$WorkNotificationService"/>
        <service
            android:name="com.keeplive.zzwdaemon.service.JobSchedulerService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":xiaoqiang"/>
        <service
            android:name="com.keeplive.zzwdaemon.service.XiaoQiangService"
            android:process=":xiaoqiang"/>
        <service
            android:name="com.keeplive.zzwdaemon.service.XiaoQiangService$WatchDogNotificationService"
            android:process=":xiaoqiang"/>
        <service
            android:name="com.keeplive.zzwdaemon.service.ZzwNotificationService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:process=":xiaoqiang">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>

        <service
            android:name="com.keeplive.zzwdaemon.service.AbnormalService"
            android:enabled="true"
            android:exported="true"
            android:process=":incoming"/>

        <!--帐号同步-->
        <provider
            android:name="com.keeplive.zzwdaemon.account.StubContentProvider"
            android:authorities="com.zzwtec.phone.provider"
            android:exported="false"
            android:syncable="true">
        </provider>

        <service android:name="com.keeplive.zzwdaemon.account.service.StubAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>

        <service
            android:name="com.keeplive.zzwdaemon.account.service.SyncAdapterService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter"/>
        </service>

        <!--百度全家桶-->
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:enabled="true"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD"/>
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <activity
            android:name="com.keeplive.zzwdaemon.activity.SinglePixelActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleInstance"
            android:theme="@style/SingleActivityStyle"/>
    </application>
</manifest>